# **********************************************************************************
# Beepers, pitos y flautas
# **********************************************************************************

[output_pin BEEPER_pin]
pin: PK1  # A9; D63
#   Beeper pin. This parameter must be provided.
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.

# Pequeño altavoz de 32 Ohm y dos pulgadas de diametro, membrana plástica, buen nivel sonoro
# Conectado en la tarjeta Ramps 1.6, al conector AUX-2, requiere un pequeño mosfet exterior, 
# ya que en la tarjeta, no hay hardware previsto para ello